body {
    font-size: .875rem;
}

[role="main"] {
    padding-top: 56px;
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 56px;
    }
}

/* Width classes */
.w-16 {
    width: 16px;
}