/* Margin Top classes */
.mT0 {
    margin-top: 0;
}
.mT5 {
    margin-top: 5px;
}

/* Padding Top classes */
.pT0 {
    padding-top: 0;
}
.pT5 {
    margin-top: 5px;
}

/* Padding Right classes */
.pR0 {
    padding-right: 0;
}

/* Padding Bottom classes */
.pB0 {
    padding-bottom: 0;
}

/* Padding Left classes */
.pL0 {
    padding-left: 0;
}